<style>

<!-- sans serif -->

td {
  text-align: center;
  font-family:arial;
  
}

table {
  border-spacing: 50px;
  font-family:arial;
}
div {
  text-align: center;
  font-family:arial;
}
body{
	font-family:arial;
}

.hide{
	display: none
}
@media only screen and (max-width:480px){
 body{
  zoom:40%;

 }

}
</style>

<% content_for :content do %>

<div class="jumbotron text-center" style="position:fixed;">
   <h1>Your Past Orders</h1>
</div>
<br/>
<br/>
<br/>
<table class="center">
<tr>
<th>Time of Order</th>
<th>Item Name</th>
<th>Count</th>
<th>Cost</th>
<th>Submit Damage Report </th>
<th></th>
<th>Submit Explanation </th>


</tr>
<% @past_orders_user.each do |f| %>
  <tr>
    <td><%= f.created_at %></td>
	<td><%= f.itemname %></td>
	<td><%= f.itemcount %></td>
	<td><%= f.itemcost.to_s.split('.').last.size <= 1 ? + "$" + f.itemcost.to_s + "0" : "$" + f.itemcost.to_s %></td>
	<% if f.damage_report.attached? %>
		<td><%= button_to 'View Damaged Item', "/past_orders_user/damage_report/#{f.id}", method: :get, class:"btn-primary" %></td>
	<% else %>
		<%= form_with model: f, method: :post do |form| %>
			<td><%= form.file_field "damage"+f.id.to_s %></td>
			<td><%= form.submit %></td>
		<% end %>
	<% end %>
	<% if f.explanation.attached? %>
		<td><%= button_to 'View Explanation', "/past_orders_user/explanation/#{f.id}", method: :get, class:"btn-primary" %></td>
	<% else %>
		<%= form_with model: f, method: :post do |form| %>
			<td><%= form.file_field "exp"+f.id.to_s %></td>
			<td><%= form.submit %></td>
		<% end %>
	<% end %>
	
  </tr>
  <% end %>

</table>
<div class="mini-padding">
</div>

<br></br>
  
<div>
<%= button_to "Back", root_path, method: :get, class:"btn-primary"%>
</div>
<div class="non-display">
</div>
<div class="non-display">
</div>
<% end %>

<nav class="navbar navbar-dark navbar-expand-md" style=" position:fixed; bottom:0; width: 100%;">
    <div class="container">
		</button> <%= link_to "Home", root_path, class: 'navbar-brand' %>
		</button><%= link_to 'Cart(' + @num_items_in_cart.to_s + ')', '/cart', params:{sort:session[:current_sort]},class: 'navbar-brand' %>
		</button><%= link_to 'Checkout', "/checkout", class: 'navbar-brand' %>
		</button><%= link_to 'Help', '/faq', class: 'navbar-brand' %>
		</button><%= link_to 'Logout', '/logout', class: 'navbar-brand' %>

    </div>
</nav>
